.VerticalInformation{
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    background-color: black;
}
.VerticalInformation-folder-item{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0; /* Espacio entre los elementos */
}

/* Estilos específicos para cada tipo de contenido */
.folder-image {
    background-color: white;
}

.folder-title {
    background-color: white;
}

.folder-description {
    background-color: white;
}

.folder-footer {
    background-color: white;
}
